* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
header {
    position:fixed;
    top:0;
    left:0;
    background-color: #F1E7D2;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px; 
 } 
 h1 {
     font-weight: lighter;
     font-family: 'Times New Roman', Times, serif;
     color: black;
 }
 header a {
     display: inline-flex;
     color:white;
     justify-content: flex-end;
     padding: 15px;
     font-size: 20px;
     font-weight: bolder;
 }

 body {
     background-color: white;
 }

.pagecontainer {
    display: flex;  
    margin-top: 115px; 
    padding: 20px; 
} 

h2 {
    font-family: Arial, Helvetica, sans-serif;
    
}

.sectioncolumn {
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    flex-basis: 25%;
    text-align: center;
    background-color: #7E88DE;
    letter-spacing: .05px;
    

}
.sectioncolumn h2, .sectioncolumn img, .sectioncolumn p {
    padding: 30px;
}
.sectionrow{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    flex-basis: 75%;

}

.image {
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 25%;
        width:400px;
        height:400px;
        padding: 40px;       
}
.imageBig {
    display: flex;
    flex-grow: 1;
    flex-shrink:1;
    flex-basis: 50%;
    width: 400px;
    height: 400px; 
}

.image:hover {
    opacity: 50%;

}

.imageBig:hover {
    opacity: 50%
}

header a:hover {
    background-color: #7E88DE;
}


